h2{
    font-family: 'Cinzel';
    margin-left: 45%;
    font-weight: bolder;
}
.challenge-info-heading{
  background-color: #000000;
  margin-bottom: 5%;
}
table{
  width: 100%;
}
th{
  color: #ffffff;
  height: 35px;
  border-collapse: collapse;
  margin-right: -5px;
  font-weight: bold;
  font-family: 'Cinzel'
}


table, td {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: center;
  text-transform: capitalize;
  height: 50px;
}

td{
  color: #404040;
}


.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}
